@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Poppins-R';
    src: url("../public/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-B';
    src: url("../public/Fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Poppins-EB';
    src: url("../public/Fonts/Poppins/Poppins-ExtraBold.ttf");
}